= render 'conferences/sections/banners'

= render 'conferences/sections/description'

/= render 'conferences/sections/registration'

= render 'conferences/sections/links'

= render 'conferences/sections/letters'

= render 'conferences/sections/speakers'

= render 'conferences/sections/hasil'

= render 'conferences/sections/contacts'

= render 'conferences/modal/faq'

= render 'conferences/js'
