= content_for :js
  script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0" rel="preload")
  script(async="" charset="utf-8" src="https://platform.twitter.com/widgets.js" rel="preload")
  javascript:
