= render 'homes/sections/banners'

= render 'homes/sections/description'

= render 'homes/sections/quick_links'

= render 'homes/sections/calendars'

= render 'homes/sections/social'

= render 'homes/sections/subscribe'

= render 'homes/sections/networks'

= render 'js'
