| // Javascript Here
  var $modal = $('#modal-upload-abstract');
  $modal.find('.modal-body').html('#{ j render "admin/participants/modal_body/upload_abstract", participant: @participant }');
  $modal.modal('show');
