| // Javascript Here
  var $modal = $('#modal-final-review');
  $modal.find('.modal-body').html('#{ j render "admin/participants/modal_body/final_review", participant: @participant }');
  $modal.modal('show');
  $modal.find('.select2').select2();
